<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle Producto</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/detail.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="contenedor-padre">
    <div class="detalle-img-container">
      <button class="btn-volver material-icons">arrow_back</button>
      <img id="detalle-img" src="../img/vestido1.jpg" alt="Producto" onerror="this.src='../storage/img/user.png'">
      <button class="btn-fav material-icons">favorite_border</button>
    </div>

    <!-- Resto del código... -->
  </div>

  <!-- Resto del código... -->

  <script src="../js/detail.js"></script>
</body>
</html>
